@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #161625;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d1b37;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-wrap: balance;
}

body {
  background: #131521;
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  height: 100vh;
}

aside,
main {
  gap: 1rem;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

aside {
  display: grid;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

main {
  padding: 20px 20px 20px 0;
}

button {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  border: none;
  background: #737dbe;
  padding: 7px 20px;
  width: max-content;
  border-radius: 5px;
  font-size: 0.75rem;
}

button:hover {
  background: #8c94da;
}

.card {
  display: grid;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #24294b;
  background-color: #171931;
  color: #737dbe;
  width: 400px;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-code {
  display: grid;
  gap: 1rem;

  select,
  textarea {
    display: block;
    outline: none;
    background-color: #171931;
    border: 1px solid #24294b;
    border-radius: 10px;
    color: #abb8ff;
    padding: 10px;
  }

  textarea {
    width: 100%;
    height: 35rem;
    resize: none;
  }
}

.container {
  display: grid;
  gap: 2.5rem;
  align-content: start;
  border-radius: 10px;
  border: 1px solid #1b233b;
  background-color: #141826;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.content-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-title {
  margin-bottom: 5px;
}

.color-header {
  display: grid;
  gap: 1rem;
}

.color-item {
  display: grid;
  gap: 0.8rem;
}

.color-card {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 4rem;
  border-radius: 10px;
  width: 100%;
  background-color: white;
}

.graph h4 {
  margin-bottom: 5px;
}
.graph {
  gap: 4px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.main-title {
  grid-column-start: span 2;
}

.secondary-btn {
  background-color: #beb4fe;
}

.title,
.main-title {
  color: white;
  font-family: "Libre Baskerville", sans-serif;
}

.desc {
  color: #727798;
  max-width: 40ch;
  line-height: 22px;
  font-size: 0.9rem;
}

.loader {
  width: 18px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #abb8ff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: #1b233b;
}
