@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1f1f33;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #565093;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-wrap: balance;
}

a {
    color: #6a88ef;
    text-decoration: none;
}

body {
    background: #131521;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    height: 100vh;
}

aside,
main {
    gap: 1rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

aside {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: start;
    justify-content: center;
    padding: 20px;
}

main {
    padding: 20px 20px 20px 0;
}

select,
textarea {
    display: block;
    outline: none;
    background-color: #171931;
    border: 1px solid #24294b;
    border-radius: 10px;
    color: #abb8ff;
    padding: 10px;
}

textarea {
    line-height: 25px;
    width: 100%;
    height: 100%;
    resize: none;
}

textarea::placeholder {
    color: #4e558f;
}

button {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    border: none;
    background: #737dbe;
    height: max-content;
    padding: 7px 15px;
    width: max-content;
    border-radius: 5px;
    font-size: 0.75rem;
}

button:hover {
    background: #8c94da;
}

.card {
    display: grid;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #24294b;
    background-color: #171931;
    color: #737dbe;
    width: 400px;
    height: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-code {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.codeOutputWrapper {
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #24294b;
    background: #171931;
}

.codeOutputWrapper .line {
    margin-bottom: 10px;
}

#codeOutput {
    color: #b6c3ff;
}

.container {
    display: grid;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #1b233b;
    background-color: #141826;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    overflow-y: scroll;
}

.content-image {
    height: 400px;
    width: 700px;
    border-radius: 10px;
    text-align: center;
}

.content-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.initial-title {
    color: #7b86ce !important;
    font-size: 2rem;
    text-align: center;
    width: 10ch;
}

.color-title {
    margin-bottom: 5px;
}

.color-item {
    display: grid;
    gap: 0.8rem;
}

.color-card {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 4rem;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

.graph {
    display: grid;
    gap: 13px;
    width: 100%;
}

.graph h4 {
    margin-bottom: 5px;
}

.secondary-btn {
    background-color: #beb4fe;
}

.title,
.main-title {
    color: white;
    font-family: "Libre Baskerville", sans-serif;
}

.main-title {
    grid-column-start: span 2;
}

.desc {
    color: #727798;
    max-width: 40ch;
    line-height: 22px;
    font-size: 0.9rem;
}

.loader {
    width: 18px;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #abb8ff;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}

.line {
    margin-top: 15px;
    height: 1px;
    width: 100%;
    background-color: #1b233b;
}
